<html ng-app="listaTelefonica">
    <head>
        <meta charset="utf-8">
        <title>Lista Telefonica</title>

        <link rel="stylesheet" href="lib\bootstrap-4.3.0-dist\bootstrap-4.3.0-dist\css\bootstrap.min.css">
        <link rel="stylesheet" href="css\app.css">

        <script src="lib\angular.js"></script>
        <script src="lib\angular-1.7.6\angular-1.7.6\angular-messages.js"></script>
        <script src="lib\angular-locale_pt-br.js"></script>
        <script src="js\app.js"></script>
        <script src="js\controllers\listaTelefonica.controller.js"></script>
        <script src="js\services\contato.service.js"></script>
        <script src="js\config\configContato.js"></script>
    </head>
    <body ng-controller="listaTelefonicaCtrl">
        <div class="jumbotron">
            <!-- <h4 ng-bind="app"></h4> -->
            <h4>{{app}}</h4>
            <input class="form-control" type="text" ng-model="criterioDeBusca" placeholder="O que tu procuras?">
            <table ng-show="contatos.length > 0" class="table table-bordered">
                <thead>
                    <th></th>
                    <th><a ng-click="ordenarPorNome('nome')">Nome</a></th>
                    <th><a ng-click="ordenarPorNome('telefone')">Telefone</a></th>
                    <th>Operadora</th>
                    <th>Data</th>
                </thead>
                <tbody>
                    <tr ng-repeat="contato in contatos | filter:criterioDeBusca | orderBy:sentidoDeOrdenacao:false">
                        <td><input type="checkbox" ng-model="contato.selecionado"></td>
                        <td>{{contato.nome | uppercase}}</td>
                        <td>{{contato.telefone}}</td>
                        <td>{{contato.operadora.nome | lowercase}}</td>
                        <td>{{contato.data | date: 'dd/MM/yyyy'}}</td>
                    </tr>
                </tbody>
            </table>
            <form name="contatoForm">
                <input class="form-control" type="text" ng-model="contato.nome" ng-required="true" name="nome" placeholder="Nome" ng-minlength="10">

                <input class="form-control" type="text" ng-model="contato.telefone" ng-required="true" name="telefone" placeholder="Telefone" ng-maxlength="10" ng-pattern="/^\d{4,5}-\d{4}$/">

                <select class="form-control" ng-model="contato.operadora" ng-options="operadora.nome + '(' + (operadora.valor | currency) + ')' for operadora in operadoras | orderBy:'nome'">
                    <option value="">Selecione uma operadora</option>
                </select>

            </form>
            <button class="btn btn-primary" type="submit" ng-click="adicionarContato(contato)" ng-disabled="contatoForm.$invalid">Adicionar</button>

            <button class="btn btn-danger" ng-click="apagarContato(contatos)" ng-if="isContatoSelecionado(contatos)">Apagar</button>

            <!-- VALIDAÇÕES DO FORMULÁRIO -->
            <div ng-messages="contatoForm.nome.$dirty">
                <div ng-message="required" class="alert alert-danger">
                    Preencha seu nome no formulário!
                </div>
                <div ng-message="minlength" class="alert alert-danger">
                    O campo nome deve ter pelo menos 10 caracteres!
                </div>
    
            </div>

            <div ng-messages="contatoForm.telefone.$dirty">
                <div ng-message="maxlength" class="alert alert-danger">
                    O campo telefone deve ter no máximo 10 números!
                </div>
    
                <div ng-message="pattern" class="alert alert-danger">
                    O campo telefone deve ter o formato DDDD-DDDD
                </div>
                
                <div ng-message="required" class="alert alert-danger">
                    Preencha seu telefone no formulário!
                </div>
            </div>

        </div>
        <div style="text-align:center;">
            <p>Feito por Rafael de Mattos!</p>
        </div>
    </body>
</html>